[Desktop Entry]
Name=Test 6 (with localized comments and generic names)
GenericName=Generic name
Comment=Comments
Comment[en]=Comments - English
Comment[ru]=Комментарии - Русский
Comment[ar]=تعليقات - العربية
Comment[zh_CN]=评论 - 中文
Comment[zh_TW]=评论 - 中文
Comment[ko]=댓글 - 한국의
Comment[jp]=コメント - 日本語
Comment[es]=Comentarios - Español
Comment[it]=Commenti - Italiano
Comment[pt]=Comentários - Português
Comment[de]=Kommentare - Deutsch
GenericName[en]=Generic name - English
GenericName[ru]=Родовое название - Русский
GenericName[ar]=الاسم العام - العربية
GenericName[zh_CN]=通用名称 - 中文
GenericName[zh_TW]=通用名稱 - 中文
GenericName[ko]=일반 이름 - 한국의
GenericName[jp]=一般名前 - 日本語
GenericName[es]=Nombre genérico - Español
GenericName[it]=Nome generico - Italiano
GenericName[pt]=Nome genérico - Português
GenericName[de]=Generischer Name - Deutsch
Exec=test
TryExec=test
Icon=
Type=Application
DesktopNames=Test;Test